/* * {
    background-color: black;
    color: lightgoldenrodyellow;
    margin: 3px;
    padding: 3px;
    font-family: 'papyrus', 'copperplate', 'fantasy', 'Franklin Gothic Medium', sans-serif;
  }
  
  h1 {
    margin: 50px;
    height: auto;
  }
  
  .calculator {
    position: relative;
    margin: 50px;
    height: 575px;
    max-width: 460px;
    border-radius: 10px;
    border: 5px solid #b9a675;
    padding: 10px;
    background-color: #e6d6be
  }
 
  

  button {
    border: solid;
    font-size: 28px;
    min-width: 80px;
    min-height: 65px;
    border-radius: 40px;
    box-shadow: 5px 5px #8c8478;
    padding: 10px;
    margin: 10px;
  } */

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: rgb(31, 31, 26);
    font-family: 'papyrus', 'copperplate', 'fantasy', 'Franklin Gothic Medium', sans-serif;
  }

  h1 {
    margin: 50px;
    height: auto;
    border-radius: 10px;
    border: 5px solid #b9a675;
    padding: 10px;
    background-color: #e6d6be;
    color: black;
  }

  .calculator {
    border-radius: 10px;
    border: 5px solid #b9a675;
    padding: 10px;
    background-color: #e6d6be
  }
  

  .screen {
    border: solid;
    border-radius: 40px;
    box-shadow: 5px 5px #8c8478;
    padding: 10px;
    margin: 10px;
    min-width: 90px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .previous {
    font-size: 20px;
  }

  .current {
    font-size: 30px;
  }

  button {
    border: solid;
    font-size: 28px;
    min-width: 80px;
    min-height: 65px;
    border-radius: 40px;
    box-shadow: 5px 5px #8c8478;
    padding: 10px;
    margin: 10px;
  }

  button:hover {
    background-color: rgb(70, 38, 36);
  }